
@{
    ViewBag.Title = "Contractor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>
    @ViewBag.Employee.LastName
    <br>
    @ViewBag.Employee.FirstName
</h2>


<div class="container">
    <div class="row">
        <div class="col-sm">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">

                        General


                    </h5>
                    <h6 class="card-subtitle mb-2 text-muted"></h6>
                    <p class="card-text">
                        Calendar:   @ViewBag.Employee.PayrollCalendarID -  @ViewBag.Employee.PayrollCalendarName

                    </p>

                    <p class="card-text">
                        EG: @ViewBag.Employee.EmployeeGroupName


                    </p>

                    Contact ID: @ViewBag.Contact.Id
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">

                        Super

                    </h5>
                    <h6 class="card-subtitle mb-2 text-muted"></h6>



                    <p class="card-text">
                        Super Expense Account Code = @ViewBag.Employee.PayTemplate.SuperLines[0].ExpenseAccountCode
                    </p>

                    <p class="card-text">
                        Super Liability Account Code = @ViewBag.Employee.PayTemplate.SuperLines[0].LiabilityAccountCode

                    </p>

                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">

                        Earn Rate


                    </h5>
                    <h6 class="card-subtitle mb-2 text-muted">
                        Earning Rate ID = @ViewBag.Employee.PayTemplate.EarningsLines[0].EarningsRateId
                    </h6>
                    <p class="card-text">
                        Rate Per Unit -  @ViewBag.EarnRate.RatePerUnit
                    </p>

                    <p class="card-text">
                        Account Code -  @ViewBag.EarnRate.AccountCode


                    </p>



                </div>
            </div>
        </div>
    </div>
</div>









<div class="card">
    <div class="card-body">
        <h5 class="card-title">

            Pay Runs


        </h5>
        <h6 class="card-subtitle mb-2 text-muted">
            pay runs
        </h6>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">NetPay</th>
                    <th scope="col">Super</th>
                    <th scope="col">Tax</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in ViewBag.PayRuns)
                {
                    <tr>
                        <th scope="row">@item.PaymentDate.ToString("yyyy-MM-dd")</th>
                        <td>@item.NetPay</td>
                        <td>@item.Super</td>
                        <td>@item.Tax</td>

                    </tr>

                }
            </tbody>
        </table>


    </div>
</div>


<p>
    <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample3" role="button" aria-expanded="false" aria-controls="collapseExample3">
        Earning Account Lines
    </a>
</p>
<div class="collapse" id="collapseExample3">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">

                Super Expense Account Lines


            </h5>
            <h6 class="card-subtitle mb-2 text-muted">
                @ViewBag.Employee.PayTemplate.SuperLines[0].ExpenseAccountCode
            </h6>

            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Amount</th>
                        <th scope="col">Description</th>
                        <th scope="col">SourceType</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in ViewBag.ExpenseAccountLines)
                    {
                        <tr>
                            <th scope="row">@item.Date.ToString("yyyy-MM-dd")</th>
                            <td>@item.Amount</td>
                            <td>@item.Description</td>
                            <td>@item.SourceType</td>

                        </tr>

                    }
                </tbody>
            </table>


        </div>
    </div>
</div>

<p>
    <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample2" role="button" aria-expanded="false" aria-controls="collapseExample2">
        Super Liability Account Lines
    </a>
</p>
<div class="collapse" id="collapseExample2">

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">

                Super Liability Account Lines


            </h5>
            <h6 class="card-subtitle mb-2 text-muted">
                @ViewBag.Employee.PayTemplate.SuperLines[0].LiabilityAccountCode
            </h6>

            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Amount</th>
                        <th scope="col">Description</th>
                        <th scope="col">SourceType</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in ViewBag.LiabilityAccountLines)
                    {
                        <tr>
                            <th scope="row">@item.Date.ToString("yyyy-MM-dd")</th>
                            <td>@item.Amount</td>
                            <td>@item.Description</td>
                            <td>@item.SourceType</td>

                        </tr>

                    }
                </tbody>
            </table>


        </div>
    </div>

</div>


<p>
    <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
        Earning Account Lines
    </a>
</p>
<div class="collapse" id="collapseExample">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">

                Earning Account Lines


            </h5>
            <h6 class="card-subtitle mb-2 text-muted">
                @ViewBag.EarnRate.AccountCode
            </h6>

            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Amount</th>
                        <th scope="col">Description</th>
                        <th scope="col">SourceType</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in ViewBag.EarningAccountLines)
                    {
                        <tr>
                            <th scope="row">@item.Date.ToString("yyyy-MM-dd")</th>
                            <td>@item.Amount</td>
                            <td>@item.Description</td>
                            <td>@item.SourceType</td>

                        </tr>

                    }
                </tbody>
            </table>


        </div>
    </div>
</div>


<p>
    <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample4" role="button" aria-expanded="false" aria-controls="collapseExample3">
        Journals For this
    </a>
</p>
<div class="collapse" id="collapseExample4">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">

                Journals For this


            </h5>
            <h6 class="card-subtitle mb-2 text-muted">

            </h6>

            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Amount</th>
                        <th scope="col">Description</th>
                        <th scope="col">SourceType</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in ViewBag.ContractorJournals)
    {
                <tr class="week @(item.EvenWeek ? "even" : "odd")">
                    <th scope="row">@item.Date.ToString("yyyy-MM-dd")</th>
                    <td>@item.Amount</td>
                    <td>@item.Description</td>
                    <td>
                        @if (item.SourceType == Xero.Api.Core.Model.Types.SourceType.ReceiveMoneyBankTransaction)
    {

                    <svg id="i-signin" viewBox="0 0 32 32" width="32" height="32" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                        <path d="M3 16 L23 16 M15 8 L23 16 15 24 M21 4 L29 4 29 28 21 28" />
                    </svg>
}
                        @if (item.SourceType == Xero.Api.Core.Model.Types.SourceType.SpendMoneyBankTransaction)
                        {
                    <svg id="i-signout" viewBox="0 0 32 32" width="32" height="32" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                        <path d="M28 16 L8 16 M20 8 L28 16 20 24 M11 28 L3 28 3 4 11 4" />
                    </svg>
                        }

                    </td>

                </tr>

}
                </tbody>
            </table>


        </div>
    </div>
</div>